body {
  font-family: Poppins
}

.display {
  display: flex;
}

.main-container {
  padding: 0 6em;
}

.navbar-brand {
  letter-spacing: -5px;
  color: #F9855B;
  font-weight: 1000;
  font-size: 2.5em;
}

.orange {
  color: #F9855B;
}

.white  {
  color: white;
}

.items {
  display: flex;
  float:right;
  font: 400;
  font-size: 1.2em;
  Line-height: 24px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-family: Poppins;
}

.items a {
  color: rgb(39, 30, 30);
  text-decoration: none;
}

.items a:hover {
  color: rgb(50, 112, 119);
}

.font {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  text-align: left;
}

.information {
  max-width: 50%;
}

a {
  color: black;
}

.description {
  color: #727274;
}

.fab {
  font-size: 20px;
}

.h2 {
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-h2 {
  color: white;
  font-weight: 800;
}

.footer-p {
  width: 50%;
  color:white;
}

.section2 {
  margin-top: 7em;
}

.h1 {
  font-family: Poppins;
  font-size: 68px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

.projects {
  width: 100%;
  height: 20em;
  border: 1px solid black;
}

.second-projects {
  width: 100%;
  height: 20em;
  border: 1px solid black;
}

.btn:hover {
  color: rgb(228, 206, 206);
  background-color: #f58d68;
}

.btn {
  color: white;
  background-color: #F9855B;
  border-color:  #F9855B;
  padding: 8px 40px;
  margin-top: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.projects-container {
  display: flex;
}

.languages-btn {
  background-color: #423B39;
  color: white;
  border-color: #423B39;
  border-radius: 5px;
  margin-top: 5px;
}

.languages-btn:hover {
  color: white;
  background-color: #F9855B;
  border-color: #F9855B
}

.work-title {
  color:white;
  font-weight: 800;
  left: 100px;
  padding: 5px;
  background-color: #F9855B;
}

.work-title2 {
  color: white;
  bottom: 12px;
  right: 480px;
  font-weight: 800;
  padding: 5px;
  background-color: #F9855B;
}

.about-me {
  width: 40%;
  margin-right: 10em;
}

.font-weight-600 {
  font-weight: 600;
}

.footer {
  background: #F9855B;
  padding-top: 100px;
}

#message {
  width: 60%;
  height: 18em;
}

#email {
  width: 28.5%;
  height: 3em;
}

#username {
  width: 28.5%;
  height: 3em;
  margin-right: 2em;
}

.submit-button {
  width: 60%;
  background-color: black;
  color: white;
  height: 3em;
  font-size: 16px;
  font-weight: 500;
}

.submit-button:hover {
  background-color: rgb(37, 35, 35);
}

.last-div {
  color: white;
  font-size: 30px;
}

.hr {
  width: 60%;
  background-color: white;
}

.links {
  color: white;
}

.links:hover {
  color: white;
  text-decoration: none;
}

/* Under 768px */

@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 2.0em;
  }

  .information {
    max-width: 50%;
  }

  .main-container {
    padding: 0 46px;
  }

  .items {
    font: 400;
    font-size: 0.8em;
    Line-height: 24px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-family: Poppins;
  }

  .projects-container {
    display: block;
  }

  .projects {
    width: 85%;
    height: 20em;
    border: 1px solid black;
  }

  .work-title {
    text-align: center;
    width: 85%;
    color:white;
    font-weight: 800;
    left: 100px;
    padding: 5px;
    background-color: #F9855B;
  }
  
  .work-title2 {
    text-align: center;
    width: 85%;
    color: white;
    bottom: 12px;
    font-weight: 800;
    padding: 5px;
    background-color: #F9855B;
  }

  .work-title-md {
    width: 89%;
  }

  .btn {
    color: white;
    background-color: #F9855B;
    border-color:  #F9855B;
    padding: 8px 40px;
    margin-top: 5px;
    width: 85%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .btn-md {
    width: 89%;
  }

  .second-projects {
    width: 89%;
    height: 20em;
    border: 1px solid black;
  }

  .display {
    display: block;
  }

  .about-me {
    width: 100%;
  }

  #email {
    width: 27.5%;
    height: 2.8em;
  }
  
  #username {
    width: 27.5%;
    height: 2.8em;
    margin-right: 2em;
  }

  #message {
    width: 60%;
    height: 15em;
  }
}

@media only screen and (max-width: 445px) {
  
  .information {
   max-width: 100%;
  }

  .display-block {
    margin-right: 150px;
    
  }

  .fab {
    margin-top: 10px;
    margin-left: 2px;
  }

  .projects {
    width: 100%;
  }

  .second-projects {
    width: 100%;
  }

  .work-title {
    width: 100%;
  }

  .work-title2 {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-p {
    width: 82%;
    color:white;
  }

  #email {
    width: 25.5%;
    height: 2.8em;
  }
  
  #username {
    width: 25.5%;
    height: 2.8em;
    margin-right: 2em;
  }

  #message {
    width: 60%;
    height: 15em;
  }
  

}